// common css start

body {
  font-family: var(--inter);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1325px;
}

.custom-container {
  max-width: 1800px;
}






.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  margin: 0 20px;
  color: #121417;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 250ms color;
  -webkit-transition: 250ms color;
  -moz-transition: 250ms color;
  -ms-transition: 250ms color;
  -o-transition: 250ms color;

  svg {
    fill: var(--clr14);
  }
}

.liked svg {
  fill: #A7003A;
  animation-name: heart-like;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;

}

.unliked {
  animation-name: heart-unlike;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes heart-like {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  50% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes heart-unlike {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  50% {
    transform: scale(.7);
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}



.myTitle {
  position: relative;

  h3 {
    font-family: "inter";
    font-weight: var(--fw700);
    font-size: var(--fs40);
    line-height: var(--line-height-56);
    color: var(--darkGray);
    margin-bottom: 40px;
  }
}

.marTop{
  padding-top: var(--p34)
}
.centerTitle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardMainBox{
  display: grid;
      grid-template-columns: repeat(4, 1fr);
    gap: 15px;

}


@media(max-width:767px) {
  .myTitle h3 {
    font-size: var(--fs24);
    line-height: var(--line-height-36);
    margin-bottom:var(--m12);
  }
}