.display1 {
    font-size: var(--fs48);
    line-height: var(--line-height-64);
}

.display2 {
    font-size: var(--fs40);
    line-height: var(--line-height-48);
}

h1 {
    font-size: var(--fs24);
    line-height: var(--line-height-32);
}

h2 {
    font-size: var(--fs20);
    line-height: var(--line-height-32);
}

h3 {
    font-size: var(--fs18);
    line-height: var(--line-height-18);
}

h4 {
    font-size: var(--fs16);
    line-height: var(--line-height-24);
}

h5 {
    font-size: var(--fs14);
    line-height: var(--line-height-20);
}

h6 {
    font-size: var(--fs12);
    line-height: var(--line-height-16);
}