


@mixin flex-1 {
  display: flex;
  align-items: center;
}

@mixin flex-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin flex-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin directionColumn {
  flex-direction: column;
}


// Responsive Mixin
@mixin for-min-768 {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin for-min-992 {
	@media (min-width: 992px) {
		@content;
	}
}

@mixin for-min-1200 {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin for-min-1600 {
	@media (min-width: 1600px) {
		@content;
	}
}

@mixin for-min-1800 {
	@media (min-width: 1800px) {
		@content;
	}
}

@mixin for-max-1920 {
	@media (max-width: 1920px) {
		@content;
	}
}

@mixin for-max-1899 {
	@media (max-width: 1899px) {
		@content;
	}
}

@mixin for-max-1799 {
	@media (max-width: 1799px) {
		@content;
	}
}

@mixin for-max-1699 {
	@media (max-width: 1699px) {
		@content;
	}
}

@mixin for-max-1599 {
	@media (max-width: 1599px) {
		@content;
	}
}

@mixin for-max-1440 {
	@media (max-width: 1440px) {
		@content;
	}
}

@mixin for-max-1400 {
	@media (max-width: 1400px) {
		@content;
	}
}

@mixin for-max-1399 {
	@media (max-width: 1399px) {
		@content;
	}
}

@mixin for-max-1199 {
	@media (max-width: 1199px) {
		@content;
	}
}

@mixin for-max-991 {
	@media (max-width: 991px) {
		@content;
	}
}

@mixin for-max-767 {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin for-max-575 {
	@media (max-width: 575px) {
		@content;
	}
}

@mixin for-max-450 {
	@media (max-width: 450px) {
		@content;
	}
}

@mixin for-max-400 {
	@media (max-width: 400px) {
		@content;
	}
}


@mixin for-max-375 {
	@media (max-width: 375px) {
		@content;
	}
}

@mixin for-max-350 {
	@media (max-width: 350px) {
		@content;
	}
}
















