.filter-section{
  width: var(--width100);
  height: 100%;
  border-right: 1px solid #8B8F91;
}

.filter-section label {
  display: flex;
  align-items: center;
  margin-bottom: var(--m12);
  color: var(--darkGray);
  font-weight: var(--fw400);
  font-size: var(--fs16);
  line-height: var(--line-height-24);
  transition: all 0.5s;
}

.filter-section input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--blueTint);
  border-radius: var(--br4);
  margin-right: var(--m10);
  position: relative;
  cursor: pointer;
  background-color: var(--white);
  display: inline-block;
  vertical-align: middle;
  transition: all 0.5s;
}

.filter-section input[type="radio"]:checked {
  background-color: var(--deepPurple);
  border-color: var(--deepPurple);
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMTEgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMy42MDIgNi40NUwxLjE1MiA0bC0uODE3LjgxNyAzLjI2NyAzLjI2NiA3LTctLjgxNy0uODE2TDMuNjAyIDYuNDV6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  transition: all 0.5s;
}

.filter-section input[type="radio"]:checked + span {
  font-weight: var(--fw600);
}

[dir="rtl"] {
  .filter-section input[type="radio"] {
    margin-left: var(--m10);
  }
}
