.paginationWapper {
	padding: var(--p30) var(--p0) var(--p100);
}

.pagination {
	gap: 3px;
	background-color: var(--white);
	border: 1px solid var(--clr9);
	padding: var(--p10) var(--p12);
	border-radius: var(--br10);
	box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
	width: fit-content;
	align-items: center;

	&.mAuto {
		margin: 0 auto;
	}
}

.pagination button,
.pagination .dots {
	border: none;
	background: none;
	cursor: pointer;
	font-size: var(--fs14);
	border-radius: var(--br8);
	color: var(--slateGray);
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination .page {
	width: 40px;
	height: 40px;
}

.pagination .page:hover {
	background-color: var(--clr10);
}

.pagination .active {
	background-color: var(--darkBlue);
	color: var(--white);
	font-weight: var(--fw500);

	&:hover {
		background-color: var(--darkBlue);
	}
}

.nav-btn {
	display: flex;
	align-items: center;
	font-size: var(--fs14);
	color: var(--slateGray);
	padding: var(--p8) var(--p14);
	border-radius: var(--br10);
	background-color: var(--clr11);
	transition: background 0.2s;
	box-shadow: 0px 1px 2px 0px #1018280D;
	gap: 8px;
}

.nav-btn:hover {
	background-color: var(--clr10);
}

// responsive css

@include for-max-575 {


	.pagination button,
	.pagination .dots {
		font-weight: var(--fw500);
		font-size: var(--fs8);
		line-height: var(--line-height-12);
	}

	.pagination .page {
		width: 23px;
		height: 23px;
	}

	.nav-btn {
		padding: var(--p6) var(--p12);
	}

	.nav-btn img {
		width: 8px;
	}
}


[dir="rtl"]
{
    .pagination button img{
		transform: rotate(180deg);
	}
}
