 .card-wrapper {
     display: flex;
     gap: 20px;
     flex-wrap: wrap;
 }

 .allProductCardItem {
     width: 32%;
 }

 //  .allProductCardItem .product-card .card-header {
 //      width: var(--width100);
 //  }

 .allProductCardItem {
     .product-card {
         .card-header {
             width: var(--width100);
         }

         .cardHeader2 {
             padding: 0;
             margin: 0;

             .swiper {
                 .swiper-wrapper {
                     position: relative;

                     .swiper-slide {
                         padding: 0;
                         position: relative;

                         .imgBox {
                             position: relative;

                             img {
                                 position: relative;
                                 //  z-index: 9;
                             }
                         }


                     }
                 }
             }
         }
     }

     .productCard2 {
         border-radius: 0;

         .card-footer {
             .add-to-cart {
                 border-radius: 0;
             }
         }
     }
 }

 .swiper-pagination-bullet-active {

     width: 20px;
     border-radius: 8px;
     background-color: #0070CF !important;
 }

 .swiper-pagination-bullet {

     background-color: #D9D9D9;
 }

 .product-card {
     border-radius: var(--br10);
     border: 1px solid var(--clr7);
     overflow: hidden;
     display: flex;
     flex-direction: column;
 }

 .product-card .product-card-banner {
     width: 100%;
     height: 180px;
     object-fit: contain;
     background: var(--white);
 }

 .card-content {
     padding: var(--p20) var(--p20) var(--p40) var(--p20);
     flex-grow: 1;
     background-color: var(--white);
 }

 .cardContent2 {
     padding-bottom: var(--p40);
     background-color: var(--white);
 }

 .card-content3 {
     padding: var(--p14) var(--p12) var(--p0) var(--p12);
 }

 .rating {
     display: flex;
     align-items: center;
     gap: 8px;
     margin-bottom: var(--m14);

     .reviewRating {
         display: flex;
         align-items: center;
         gap: 4px;

         img {
             height: 12px;
         }
     }

     .ratingNum {
         font-weight: var(--fw400);
         font-size: var(--fs12);
         line-height: var(--line-height-16);
         display: inline-block;
     }
 }

 .card-content .title {
     font-size: var(--fs16);
     font-weight: var(--fw600);
     margin-bottom: var(--m6);
     font-family: var(--plusJakartaSans);
     line-height: var(--line-height-26);
     color: var(--darkGray);
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     /* number of lines to show */
     line-clamp: 2;
     -webkit-box-orient: vertical;
     min-height: 52px;
 }

 .card-content .price {
     font-weight: var(--fw600);
     font-size: var(--fs18);
     line-height: var(--line-height-26);
     color: var(--darkGray);
 }

 .details-bar {
     background: var(--coolTonedGray);
     padding: var(--p10);
     font-weight: var(--fw600);
     font-size: var(--fs10);
     line-height: var(--line-height-16);
     color: var(--darkGray);

     strong {
         font-weight: var(--fw700);
         font-size: var(--fs12);
         line-height: var(--line-height-16);
     }
 }

 .amount-input {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: var(--p12);
     background-color: #0025541A;
     ;
 }

 .amount-input input {
     flex: 1;
     padding: var(--p6);
     border: 0;
     border-bottom: 1px solid var(--darkBlue);
     border-radius: var(--br0);
     background-color: transparent;
     height: 38px;
     font-family: var(--plusJakartaSans);
     font-weight: var(--fw700);
     font-size: var(--fs12);
     line-height: var(--line-height-16);
     color: var(--darkBlue);
 }

 .amount-input select {
     padding: var(--p6);
     border: 0;
     border-bottom: 1px solid var(--darkBlue);
     border-radius: var(--br0);
     background-color: transparent;
     height: 38px;
     font-weight: var(--fw600);
     font-size: var(--fs10);
     line-height: var(--line-height-16);
 }

 .card-footer {
     border-top: 1px solid var(--blue);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: var(--p0);

     .add-to-cart,
     .qty-control {
         background-color: var(--deepPurple);
         height: 44px;
         font-family: var(--plusJakartaSans);
         font-weight: var(--fw600);
         font-size: var(--fs14);
         line-height: var(--line-height-22);
         color: var(--white);
         border-bottom-left-radius: var(--br6);
         border-bottom-right-radius: var(--br6);
         width: 100%;
         border: 1px solid var(--deepPurple);
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 12px;
     }

     .qty-control {
         .qtyAmt {
             font-weight: var(--fw700);
             font-size: var(--fs20);
             line-height: var(--line-height-28);
         }


         .qty-btn {
             border: 1px solid var(--white);
             width: 20px;
             height: 20px;
             display: flex;
             align-items: center;
             justify-content: center;
             padding: var(--p0);
         }
     }
 }

 .qty-control {
     justify-content: space-between;
 }

 .qty-btn {
     background: none;
     border: none;
     color: var(--white);
     font-size: var(--fs18);
     padding: var(--p0) var(--p10);
     cursor: pointer;
 }



 .card-header {
     position: relative;
     padding: var(--p48) var(--p12) var(--p12);
     background-color: var(--white);
     border: 0;
     position: relative;
     text-align: center;

     .productWishlistIcon {
         width: 30px;
         height: 30px;
         display: inline-block;
         background-color: var(--clr1);
         border-radius: var(--br4);
         display: flex;
         align-items: center;
         justify-content: center;
         position: absolute;
         top: 20px;
         right: 0px;


         svg {
             width: 15px;
             height: 15px;

             // path{
             //     fill: var(--clr14);
             // }
         }
     }

     .productBadge {
         box-shadow: 0px 3.36px 6.72px 0px #0000001A, 0px 1.68px 5.04px 0px #0000000A, 0px 0px 0px 0.84px #00000005;
         backdrop-filter: blur(26.874189376831055px);
         display: inline-block;
         padding: var(--p8) var(--p10);
         border: 1px solid var(--clr6);
         background: var(--clr5);
         border-radius: 50px;
         position: absolute;
         left: 20px;
         top: 15px;
         font-weight: var(--fw600);
         font-size: var(--fs12);
         line-height: var(--line-height-18);
     }
 }

 .cardHeader2 {
     padding: 0;

     .swiper {
         .swiper-wrapper {
             .swiper-slide {
                 padding: 0;
             }
         }
     }
 }