.wishlistSec {
    width: var(--width100);
    height: 100%;
    position: relative;
    background-color: var(--coolTonedGray);
    padding-bottom: var(--p30);

    .wishlistWrapper {
        width: var(--width100);
        height: 100%;
        position: relative;

        .myTitle {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .wishlistCardBox {
            width: var(--width100);

            .row {
                row-gap: 15px;
            }
        }
    }
}



.wishlistproductcard {
    border-radius: var(--br10);
    border: 1px solid var(--clr7);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .product-card-banner {
        width: 100%;
        height: 180px;
        object-fit: contain;
        background: var(--white);
    }

    .card-header {
        position: relative;
        padding: var(--p48) var(--p12) var(--p12);
        background-color: var(--white);
        border: 0;
        position: relative;
        text-align: center;


    }

    .card-content {
        padding: var(--p12);
        flex-grow: 1;

        .title {
            font-size: var(--fs16);
            font-weight: var(--fw600);
            margin-bottom: var(--m6);
            font-family: var(--plusJakartaSans);
            line-height: var(--line-height-26);
            color: var(--darkGray);
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
            min-height: 52px;
        }

        .price {
            font-weight: var(--fw600);
            font-size: var(--fs18);
            line-height: var(--line-height-26);
            color: var(--darkGray);
        }
    }

    .card-footer {
        border-top: 1px solid var(--blue);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--p0);

        .add-to-cart,
        .qty-control {
            background-color: var(--blue);
            height: 44px;
            font-family: var(--plusJakartaSans);
            font-weight: var(--fw600);
            font-size: var(--fs14);
            line-height: var(--line-height-22);
            color: var(--white);
            border-bottom-left-radius: var(--br6);
            border-bottom-right-radius: var(--br6);
            width: 100%;
            border: 1px solid var(--blue);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
        }

        .qty-control {
            .qtyAmt {
                font-weight: var(--fw700);
                font-size: var(--fs20);
                line-height: var(--line-height-28);
            }


            .qty-btn {
                border: 1px solid var(--white);
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: var(--p0);
            }
        }
    }


}



@media(max-width:1199px) {
    .wishlistSec {
        .wishlistWrapper {
            .wishlistCardBox {

                grid-template-columns: repeat(2, 1fr);

            }
        }
    }

}

@media(max-width:575px) {
    .wishlistSec {
        .wishlistWrapper {
            .wishlistCardBox {

                grid-template-columns: repeat(1, 1fr);

            }

            .paginationWapper {
                display: none;
            }
        }
    }

}

// .like-button-container {
//   position: absolute;
//   top: 15px;
//   right: 15px;
// }

// .like-btn {
//     width: 30px;
//     height: 30px;
//     border: 2px solid transparent;
//     background: var(--white);
//     border-radius: 4px;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 0;
// }

// .heart-icon2 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 16px;
//     height: 15px;
//     transition: fill 0.3s ease, stroke 0.3s ease;
//     fill: transparent;
//     stroke: #000;
// }

// .like-btn.liked .heart-icon2 {
//     fill: #b81b4c;
//     stroke: #b81b4c;
//     background: transparent;
// }

// .like-btn.liked {
//     border-color: #b81b4c;
//     background-color: #A7003A1A;
//     ;
// }

.like-buttons-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
z-index: 9;
}

.like-btn2 {
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    background: var(--clr1);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.heart-icon2 {
    // width: 20px;
    // height: 20px;
    // transition: fill 0.3s ease, stroke 0.3s ease;
    // fill: transparent;
    // stroke: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    transition: fill 0.3s ease, stroke 0.3s ease;
    fill: transparent;
    stroke: #000;
}

.like-btn2.liked .heart-icon2 {
    fill: #b81b4c;
    stroke: #b81b4c;
    border-color: #b81b4c;
    // background: #A7003A1A;
}

.like-btn2.liked {
    background: #A7003A1A;
    border-color: #b81b4c;
    
}