// Color usage for Common

:root {
    --white: #ffffff;
    --black: #000000;
    --black1: #111111;
    --black2: #222222;
    --black3: #140526;
    --sky: #E3F4FC;
    --red: #C70000;
    --green:#027A48;
    --darkgren:#7A6E02;
    --darkBlue: #002554;
    --deepPurple: #620442;
    --darkGray: #252C32;
    --bluishGray: #6E7C87;
    --blueGray: #344054;
    --blue: #0070CF;
    --darkblue: #6941C6;
    --darkblue1: #F9F5FF;
    --neutralMediumGray: #747474;
    --coolTonedGray: #F5F7FA;
    --veryDarkBlueGray: #101828;
    --semiTransparent: #FFFFFFBF;
    --transparentColor: transparent;
    --lightGrayishBlue: #D0D5DD;
    --blueTint: #B0BABF;
    --slateGray: #667085;
    --clr1: #F0F2F5;
    --clr2: #828282;
    --clr3: #82828280;
    --clr4: #52525B;
    --clr5: #FFFFFFCC;
    --clr6: #FFFFFF80;
    --clr7: #8282824D;
    -clr8-: #0025541A;
    --clr9: #e5e7eb;
    --clr10: #f2f4f7;
    --clr11: #f9fafb;
    --clr12: #5B6871;
    --clr13: #D5DADD;
    --clr14: #121417;



    // deepak
    --clr15: #E7E7E7;
    --clr16: #6D6D6D;
    --clr17: #EDEDED;
    --clr18: #3C3C3C;
    --clr19: #BFBFBF;
    --clr20: #F2F2F2;
    --clr21: #D2D2D2;
    --clr22: #666666;
    --clr23: #5B5B5B;
    --clr24: #EAECF0;
    --clr25:#EEEEEE;

    // font family
    --inter: 'Inter';
    --plusJakartaSans: 'Plus Jakarta Sans';

    // font size
    --fs8: 8px;
    --fs10: 10px;
    --fs12: 12px;
    --fs14: 14px;
    --fs16: 16px;
    --fs18: 18px;
    --fs20: 20px;
    --fs24: 24px;
    --fs26: 26px;
    --fs28: 28px;
    --fs30: 30px;
    --fs32: 32px;
    --fs34: 34px;
    --fs36: 36px;
    --fs38: 38px;
    --fs40: 40px;
    --fs42: 42px;
    --fs44: 44px;
    --fs48: 48px;
    --fs50: 50px;
    --fs64: 64px;

    //transition
    --transition-bg-1: background-color 0.3s, color 0.3s;
    --transition1: all 1s ease;
    --transition2: all 0.3s ease;
    --transition3: all 0.6s ease;
    --transition4: all 0.9s ease;

    // box shadow
    --boxShadow01: 0px 12px 24px -8px #00000040;
    --boxShadow02: 0 5px 16px rgba(0, 0, 0, 0.2) // line height
        --line-height-8: 8px;
    --line-height-10: 10px;
    --line-height-12: 12px;
    --line-height-14: 14px;
    --line-height-16: 16px;
    --line-height-18: 18px;
    --line-height-20: 20px;
    --line-height-22: 22px;
    --line-height-24: 24px;
    --line-height-26: 26px;
    --line-height-28: 28px;
    --line-height-32: 32px;
    --line-height-34: 34px;
    --line-height-36: 36px;
    --line-height-38: 38px;
    --line-height-42: 42px;
    --line-height-44: 44px;
    --line-height-48: 48px;
    --line-height-50: 50px;
    --line-height-54: 54px;
    --line-height-56: 56px;
    --line-height-64: 64px;
    --line-height-72: 72px;

    // font weight
    --fw100: 100;
    --fw200: 200;
    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;
    --fw700: 700;
    --fw800: 800;
    --fw900: 900;
    --fwBold: bold;

    // border-radius
    --br0: 0px;
    --br2: 2px;
    --br4: 4px;
    --br6: 6px;
    --br8: 8px;
    --br10: 10px;
    --br12: 12px;
    --br14: 14px;
    --br16: 16px;
    --br18: 18px;
    --br20: 20px;
    --br22: 22px;
    --br24: 24px;
    --br26: 26px;
    --br30: 30px;
    --br32: 32px;
    --br34: 34px;
    --br36: 36px;
    --br40: 40px;
    --br50: 50px;
    --br60: 60px;
    --br70: 70px;
    --br80: 80px;
    --br90: 90px;
    --br100: 100px;

    // padding
    --p0: 0px;
    --p2: 2px;
    --p4: 4px;
    --p6: 6px;
    --p8: 8px;
    --p10: 10px;
    --p12: 12px;
    --p14: 14px;
    --p16: 16px;
    --p18: 18px;
    --p20: 20px;
    --p22: 22px;
    --p24: 24px;
    --p26: 26px;
    --p28: 28px;
    --p30: 30px;
    --p32: 32px;
    --p34: 34px;
    --p36: 36px;
    --p40: 40px;
    --p42: 42px;
    --p44: 44px;
    --p48: 48px;
    --p50: 50px;
    --p56: 56px;
    --p60: 60px;
    --p64: 64px;
    --p70: 70px;
    --p80: 80px;
    --p90: 90px;
    --p96: 96px;
    --p100: 100px;

    // margin top bottom
    --py100: 100px 0;
    --py80: 80px 0;
    --py60: 60px 0;
    --py40: 40px 0;
    --py20: 20px 0;

    // padding left right
    --px100: 0 100px;
    --px80: 0 80px;
    --px60: 0 60px;
    --px40: 0 40px;
    --px20: 0 20px;


    // margin
    --m0: 0px;
    --m2: 2px;
    --m4: 4px;
    --m6: 6px;
    --m8: 8px;
    --m10: 10px;
    --m12: 12px;
    --m14: 14px;
    --m16: 16px;
    --m18: 18px;
    --m20: 20px;
    --m22: 22px;
    --m24: 24px;
    --m26: 26px;
    --m30: 30px;
    --m32: 32px;
    --m34: 34px;
    --m36: 36px;
    --m38: 38px;
    --m40: 40px;
    --m42: 42px;
    --m44: 44px;
    --m48: 48px;
    --m50: 50px;
    --m54: 54px;
    --m60: 60px;
    --m64: 64px;
    --m70: 70px;
    --m80: 80px;
    --m90: 90px;
    --m100: 100px;

    // margin top bottom
    --my100: 100px 0;
    --my80: 80px 0;
    --my60: 60px 0;
    --my40: 40px 0;
    --my20: 20px 0;

    // margin left right
    --mx100: 0 100px;
    --mx80: 0 80px;
    --mx60: 0 60px;
    --mx40: 0 40px;
    --mx20: 0 20px;

    // margin auto
    --mAuto: auto;
    --mAutoX: 0 auto;
    --mAutoY: auto 0;

    // border
    --border0: 0;
    --borderSolid1: 1px solid;
    --borderSolid2: 2px solid;
    --borderSolid3: 3px solid;
    --borderSolid4: 4px solid;
    --borderSolid5: 5px solid;

    // width

    --width10: 10%;
    --width15: 15%;
    --width20: 20%;
    --width25: 25%;
    --width30: 30%;
    --width40: 40%;
    --width45: 45%;
    --width50: 50%;
    --width55: 55%;
    --width60: 60%;
    --width65: 65%;
    --width70: 70%;
    --width80: 80%;
    --width85: 85%;
    --width90: 90%;
    --width95: 95%;
    --width100: 100%;
}



@media (prefers-color-scheme: light) {
    .element {
        color: var(--text-light);
        background-color: var(--bg-light);
    }
}

@media (prefers-color-scheme: dark) {
    .element {
        color: var(--text-dark);
        background-color: var(--bg-dark);
    }
}